@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
     background-color: var(--color-black-500);
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


/* //........top text ........// */

:root {
    /* //....... Color ........// */
    /* --color-black-500: #000; */


    --color-white-100: hsl(206, 5%, 100%);
   --color-white-200: hsl(206, 5%, 90%);
   --color-white-300: hsl(206, 5%, 80%);
   --color-white-400: hsl(206, 5%, 65%);
   --color-white-500: hsl(206, 5%, 50%);

   --color-black-100: hsl(213, 20%, 10%);
   --color-black-200: hsl(213, 23%, 8%);
   --color-black-300: hsl(214, 21%, 6%);
   --color-black-400: hsl(210, 21%, 6%);
   --color-black-500: hsl(216, 22%, 4%);
   --color-black-600: hsl(220, 18%, 3%);
   --color-black-700: hsl(220, 27%, 2%);
   --color-black-800: hsl(180, 20%, 1%);

   --color-blue-100: hsl(214, 95%, 93%);
   --color-blue-200: hsl(213, 97%, 87%);
   --color-blue-300: hsl(212, 96%, 78%);
   --color-blue-400: hsl(213, 94%, 68%);
   --color-blue-500: hsl(217, 91%, 60%);
   --color-blue-600: hsl(221, 83%, 53%);
   --color-blue-700: hsl(224, 76%, 48%);
   --color-blue-800: hsl(226, 71%, 40%);
   --color-blue-900: hsl(224, 64%, 33%);

   --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
   --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
   --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* css for here */



/* end */

/* //........top text ........// */



.head {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.945);
    padding: 10px 0;
    font-size: 14px;
}

.head a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.945);
    margin: 0 10px;
}


/* //........ Navbar ........// */

.navbar span,
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    box-shadow: 0 5px 4px rgb(146 161 176 / 15%);
    position: sticky;
    top: 0;
    background: var(--color-white-100);
    color: var(--color-black-100);
    z-index: 100;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.navbar img {
    margin-left: 3rem;
}

.menu-items {
    order: 2;
    display: flex;
    margin-right: 3rem;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.navbar-container ul a {
    text-decoration: none;
    color: var(--color-black-100);
    font-size: 18px;
    position: relative;
}

.navbar-container ul a:after {
    content: "";
    position: absolute;
    background: var(--color-black-500);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar-container ul a:hover:after {
    width: 100%;
}

@media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }
    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
    .navbar-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        /* margin-left: -40px;
        padding-left: 40px; */
        text-align: center;
        transition: transform 0.5s ease-in-out;
        /* box-shadow: 5px 0px 10px 0px #aaa; */
        overflow: scroll;
    }
    .navbar .menu-items li {
        margin-bottom: 2rem;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .menu-items li,
    .navbar img {
        margin: 0;
    }
    .navbar .menu-items li:nth-child(1) {
        margin-top: 1.5rem;
    }
    .navbar-container p{
        color: red;
        top: 10px;
        right: 15px;
        margin-top: 8px;
    }
    
    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
    .navbar-container input[type="checkbox"]:checked~.home_page img {
        display: none;
        background: #fff;
    }
}

@media (max-width: 500px) {
    .navbar-container input[type="checkbox"]:checked~.navbar-container img {
        display: none;
    }
}


/* //........ Home ........// */

.home_page img {
    height: auto;
    width: 100%;
    background-position: center;
    position: relative;
    background-size: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.home_txt {
    position: absolute;
    top: 37%;
    left: 5%;
}

.home_txt p {
    color: var(--color-black-500);
    font-weight: 600;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
}

.home_txt h2 {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 3px;
    font-weight: 600;
    color: var(--color-white-100);
}

.home_txt .home_label p {
    color: grey;
    font-size: 14px;
    padding-top: 10px;
}

.home_txt a {
    text-decoration: none;
    color: var(--color-white-100);
}

.home_txt button {
    background-color: var(--color-black-100);
    color: var(--color-white-100);
    border: none;
    padding: 15px 30px;
    font-size: 14px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.home_txt .bx-right-arrow-alt {
    font-size: 25px;
    padding-left: 5px;
}

.home_txt .home_social_icons a {
    text-decoration: none;
    color: var(--color-white-100);
    margin-right: 15px;
    font-size: 18px;
}


/* //........ Collections ........// */

.collections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 65px;
}

.content {
    width: 330px;
    margin: 20px;
    position: relative;
}

.content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 2;
    opacity: 0;
}

.content:hover::after {
    opacity: 1;
}

.content img {
    width: 100%;
    height: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    color: var(--color-white-100);
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 5;
    opacity: 0;
}

.img-content p {
    font-size: 1.6rem;
}

.img-content button {
    border: none;
    background-color: var(--color-black-500);
    color: var(--color-white-100);
    border-radius: 10px;
    padding: 10px;
}

.img-content a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    transition: 0.3s;
}

.img-content button:hover {
    background: var(--color-white-100);
    color: var(--color-black-500);
}

.img-content button:hover~.img-content a {
    color: var(--color-black-500);
}

.img-content a:hover {
    color: var(--color-black-500);
}

.content:hover .img-content {
    opacity: 1;
    top: 50%;
}


/* //........ Content 2 ........// */

.content2 {
    width: 330px;
    margin: 20px;
    position: relative;
}

.content2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 2;
    opacity: 0;
}

.content2:hover::after {
    opacity: 1;
}

.content2 img {
    width: 100%;
    height: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    color: var(--color-white-100);
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 5;
    opacity: 0;
}

.img-content2 p {
    font-size: 1.6rem;
}

.img-content2 a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    transition: 0.3s;
}

.img-content2 button {
    border: none;
    background-color: var(--color-black-500);
    color: var(--color-white-100);
    border-radius: 10px;
    padding: 10px;
}

.img-content2 button:hover {
    background: var(--color-white-100);
    color: var(--color-black-500);
}

.img-content2 button:hover~.img-content2 a {
    color: var(--color-black-500);
}

.img-content2 a:hover {
    color: var(--color-black-500);
}

.content2:hover .img-content2 {
    opacity: 1;
    top: 50%;
}


/* //........ Content 3 ........// */

.content3 {
    width: 330px;
    margin: 20px;
    position: relative;
}

.content3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 2;
    opacity: 0;
}

.content3:hover::after {
    opacity: 1;
}

.content3 img {
    width: 100%;
    height: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    color: var(--color-white-100);
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 5;
    opacity: 0;
}

.img-content3 p {
    font-size: 1.6rem;
}

.img-content3 a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    transition: 0.3s;
}

.img-content3 button {
    border: none;
    background-color: var(--color-black-500);
    color: var(--color-white-100);
    border-radius: 10px;
    padding: 10px;
}

.img-content3 button:hover {
    background: var(--color-white-100);
    color: var(--color-black-500);
}

.img-content3 button:hover~.img-content3 a {
    color: var(--color-black-500);
}

.img-content3 a:hover {
    color: var(--color-black-500);
}

.content3:hover .img-content3 {
    opacity: 1;
    top: 50%;
}

.content3:hover .img-content3 {
    opacity: 1;
    top: 50%;
}


/* //........ seller  ........// */

.best-seller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-seller .red {
    color: var(--color-black-500);
    cursor: pointer;
}

.best-seller .blue {
    color: #8989ce;
    cursor: pointer;
}

.best-seller .white {
    color: var(--color-white-100);
    cursor: pointer;
}

.best-seller .grey {
    color: grey;
    cursor: pointer;
}

.best-seller .brown {
    color: rgb(175, 53, 53);
    cursor: pointer;
}

.best-seller .yellow {
    color: #ffff00;
    cursor: pointer;
}

.best-seller .orange {
    color: #ffa500;
    cursor: pointer;
}

.best-seller .green {
    color: #008000;
    cursor: pointer;
}

.seller h2 {
    margin-top: 65px;
    margin-bottom: 20px;
}

.seller .best-p1 {
    width: 250px;
    height: 370px;
    
    /* border: 2px solid black; */
}

.seller .best-p1 img {
    height: 250px;
    width: 250px;
}


.seller .best-p1 .price  {
    display: flex;
    justify-content: space-between;
            color: var(--color-white-100);

}

.seller .best-p1 .product-name {
    display: flex;
    justify-content: space-between;
            color: var(--color-white-100);

}

.seller .best-p1 .price .colors input[type="radio"] {
    color: var(--color-white-100);
    background-color: var(--color-black-100);

}

.best-seller .buy-now a {
    text-decoration: none;
    color: var(--color-white-100);
}

.seller a:hover {
    color: var(--color-black-400);
}

.best-seller .buy-now button,
.best-seller .add-cart button {
    padding: 10px 15px;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--color-white-500);
    color: var(--color-white-100);
    border: none;
    border-radius: 0;
    font-weight: 500;
    border: 1px solid --color-black-400;
    transition: 0.5s;
}

.best-seller .buy-now button:hover,
.best-seller .add-cart button:hover {
    background-color: var(--color-white-100);
    font-weight: 600;
}

.best-seller .buy-now button:hover a,
.best-seller .add-cart button:hover a {
    color: #000;
}


/* .best-seller .add-cart button {
    padding: 5px 5px;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
} */



/* //........ NEWS ........// */

#news {
    margin-bottom: 200px;
}


.news-heading p {
    text-align: center;
    font-size: 18px;
    color: var(--color-black-500);
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 70px;
}

.news-heading h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: var(--color-white-100);
}

.l-news {
    padding-top: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.l-news img {
    height: 200px;
    width: 300px;
}

.l-news1 {
    position: relative;
    width: 280px;
    height: 230px;
}

.l-news1 .news1-conte {
    position: absolute;
    bottom: -60%;
    left: 5%;
    background: var(--color-black-200);
    padding: 25px;
}

.l-news1 .news1-conte .date-news1 p {
    color: var(--color-white-100);
    text-align: center;
    padding: 15px 0;
}

.l-news1 .news1-conte .date-news1 h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 15px;
    color: var(--color-white-100);
}

.l-news1 .news1-conte .date-news1 a {
    text-decoration: none;
    text-align: center;
    padding: 0 50px;
    color: var(--color-white-500);
    position: relative;
    font-weight: 600;
    
}

.l-news1 .news1-conte .date-news1 a::after {
    content: "";
    position: absolute;
    background: var(--color-white-100);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.l-news1 .news1-conte .date-news1 a:hover:after {
    width: 0%;
}

.l-news1 .news1-conte .date-news1 a:hover {
    color: var(--color-black-100);
}


/* //........ Footer ...... // */

footer {
    width: 100%;
    background: var(--color-black-100);
}

.footer-container .content_1 img {
    height: 25px;
    width: 180px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.footer-container h4 {
    color: var(--color-white-100);
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 25px;
    font-size: 18px;
}

.footer-container a {
    display: block;
    text-decoration: none;
    color: var(--color-white-500);
    margin-bottom: 15px;
    font-size: 14px;
}

.footer-container .content_1 p,
.footer-container .content_4 p {
    color: var(--color-white-500);
    margin: 25px 0;
    font-size: 14px;
}

.footer-container .content_4 input[type="email"] {
    background-color: var(--color-black-100);
    border: none;
    color: var(--color-white-100);
    outline: none;
    padding: 15px 0;
}

.footer-container .content_4 .f-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .content_4 .bx {
    color: var(--color-white-100);
}

.f-design {
    width: 100%;
    color: var(--color-white-100);
    text-align: center;
}

.f-design .f-design-txt {
    border-top: 1px solid var(--color-white-500);
    padding: 25px 0;
    font-size: 14px;
    color: var(--color-white-500);
}


/* //........ contact ...... // */

.contact {
    margin-top: 45px;
}

iframe {
    height: 30vh;
    width: 100%;
    margin: 0 0 10px 0;
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.form .form-txt {
    flex-basis: 48%;
}

.form .form-txt h4 {
    font-weight: 600;
    color: var(--color-black-500);
    letter-spacing: 1.5px;
    font-size: 15px;
    margin-bottom: 15px;
}

.form .form-txt h1 {
    font-weight: 600;
    color: var(--color-black-100);
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    color: var(--color-white-100);
}

.form .form-txt span {
    color: var(--color-white-100);
    font-size: 14px;
}

.form .form-txt h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
    color: var(--color-white-100);
}

.form .form-txt p {
    color: var(--color-white-100);
    font-size: 14px;
}

.form .form-details {
    flex-basis: 48%;
}

.form .form-details input[type="text"],
.form .form-details input[type="email"] {
    padding: 15px 20px;
    color: var(--color-white-500);
    outline: none;
    border: 1px solid var(--color-white-500);
    margin: 35px 15px;
    font-size: 14px;
}

.form .form-details textarea {
    padding: 15px 20px;
    margin: 0 15px;
    color: var(--color-white-500);
    outline: none;
    border: 1px solid var(--color-white-500);
    font-size: 14px;
    resize: none;
}

.form .form-details button {
    padding: 15px 25px;
    color: var(--color-white-100);
    font-weight: 500;
    background: var(--color-black-100);
    outline: none;
    border: none;
    margin: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}


/* //....... Media Queries .......// */

@media (max-width: 500px) {
    .head {
        display: none;
    }
    .top-txt .head p,
    .top-txt .head a {
        font-size: 10px;
    }
    .home_txt h2,
    .home_txt .home_label p {
        display: none;
    }
    .home_txt {
        position: absolute;
        top: 20%;
        left: 5%;
        font-size: 12px;
    }
    .home_txt button {
        padding: 7px 7px;
        font-size: 10px;
    }
    .home_txt i {
        display: none;
    }
    .home_txt .home_social_icons {
        /* display: flex; */
        display: none;
    }
    .menu-items {
        margin-right: 0;
    }
    .best-seller {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .l-news {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }
    .l-news .l-news1,
    .l-news .l-news2 {
        margin-bottom: 200px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
    }
    .footer-container .content_1 {
        margin-bottom: 30px;
    }
    .best-seller img {
        padding-top: 40px;
    }
}

@media(min-width: 501px) and (max-width: 768px) {
    .head {
        display: none;
    }
    .top-txt .head p,
    .top-txt .head a {
        font-size: 10px;
    }
    .home_txt h2,
    .home_txt .home_label p {
        display: none;
    }
    .home_txt {
        position: absolute;
        top: 20%;
        left: 5%;
        font-size: 12px;
    }
    .home_txt button {
        padding: 7px 7px;
        font-size: 10px;
    }
    .home_txt i {
        display: none;
    }
    .home_txt .home_social_icons {
        /* display: flex; */
        display: none;
    }
    .menu-items {
        margin-right: 0;
    }
    .best-seller {
        display: flex;
        flex-direction: column;
    }
    .l-news {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }
    .l-news .l-news1,
    .l-news .l-news2 {
        margin-bottom: 200px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
    }
    .footer-container .content_1 {
        margin-bottom: 30px;
    }
    .best-seller img {
        padding-top: 40px;
    }
}

@media(orientation: landscape) and (max-height: 500px) {
    .header {
        height: 90vmax;
    }
}


/* //....... Media Queries For Contact .......// */

@media (max-width: 500px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .form .form-details button {
        margin-left: 0;
    }
    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 100%;
        margin-left: 0;
    }
    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
}

@media(min-width: 501px) and (max-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .form .form-details button {
        margin-left: 0;
    }
    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 100%;
        margin-left: 0;
    }
    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
}



/* pagination */


/* Pagination Container */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Pagination Item */
.pagination-item {
    display: inline-block;
    margin: 0 5px;
    padding: 15px 25px;
    border: 1px solid var(--color-black-200);
    border-radius: 0px;
    background-color: var(--color-white-200);
    color: var(--color-black-100);
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

/* Pagination Item Active */
.pagination-item.active,
.pagination-item:hover {
    background-color: var(--color-white-400);
    color: var(--color-white-100);
}

/* Disabled Item */
.pagination-item.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .pagination-item {
        font-size: 12px;
        padding: 8px 12px;
    }
}

@media (max-width: 500px) {
    .pagination-item {
        font-size: 10px;
        padding: 5px 10px;
    }
}




/* news */
.news-heading button {
    text-align: center;
       margin-top: 200px;
}

.button {
  background-color: var(--color-white-400);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


/* hero */

/* Hero Section Styles */

